html, container{
margin:0;
padding:0;
width:100%;


}

main, footer{
  width:798px;
  margin:0 auto;
  height:35px;
}

main {
height:510px;
display:flex;


}

container{
  display:flex;
  flex-direction:column;
  align-items: stretch;
justify-content: center; justify-content:space-between; justify-content:space-around;
justify-content:space-evenly;
  flex-flow: row wrap;

}

.left-col{

   width:49%;
   background-color:#eeeeee;
   border:0;
}

.right-col{
  width:51%;
  background: url('../images/Track.jpg') 0 -9px;
  background-size: cover;

border:0;

background-color:#eeeeee;

}

main{

}

.bin{
 margin-right:00px;
  color:#4c0066;
  font-family:Avenir;
  letter-spacing:1.5px;
  font-weight:100;
  font-size:49px;
  position:relative;
  top:36%; left:24%;
  z-index: 0;
}

input[type = "button"] {
  width:180px;
  background-color:#333;
  color:#fff;
  height:40px;
  border-radius:6px;
  font-size:1.2em;
  font-family:Avenir;
  position:relative;
  top: 195px;
  left:24%;
  font-weight:100;
  letter-spacing: 1px;
}


navbar{
  background-color:#686859;
    height:35px;
    width:798px;
}

footer{
background-color:#686859;
    height:35px
}

footer #copyright{
  padding-top:7px;
  margin-left:35px;
  color:#fff;
  font-family:Avenir;
  letter-spacing:2px;
  font-weight:lighter;
}

.images-sidebar{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-y: hidden;
  content: ' ';
  border:none;


}



img.role-preview, img.discography{
  justify-content: space-around;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-y: hidden;
  margin:5px;
  width:170px;
  height:160px;

}


@font=face{
  font-family: Avenir;
  src: url('fonts/AvenirNextLTPro-Regular.otf');
}


.img-preview{

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-y: hidden;
  z-index:3;
  background-color:#fff;
  opacity:.9;
  background-size:cover;


}
