html, container{
margin:0;
padding:0;
width:100%;


}

main, footer{
  width:798px;
  margin:0 auto;
  height:35px;
}

main {
height:504px;
display:flex;


}

container{
  display:flex;
  flex-direction:column;
  align-items: stretch;
justify-content: center; justify-content:space-between; justify-content:space-around;
justify-content:space-evenly;
  flex-flow: row wrap;
}

aside{
justify-content: right;
  border:2px solid #000;
  height:580px;
  order:2;


}
.left-col{
   z-index:1;
   width:47%;
   background-color:#ccc;

}

.right-col{
  width:53%;
background: url('/Users/samuel/galvanize/assessment_one/playlist/images/fadedTrack.jpg') 0 -7px;
background-size: cover;
}

.bin{
 maring-right:200px;
  color:purple;
  font-family:fantasy;
  letter-spacing:2px;
  font-weight:lighter;
  font-size:2.2em;
  position:relative;
  top:36%; left:24%;

    z-index: 1;
}
input[type = "button"] {
  width:160px;
  background-color:#333;
  color:#fff;
  height:40px;
  border-radius:5px;
  font-size:1.1em;
  font-family:Avenir;
  position:relative;
  top: 190px;
  left:24%;
  font-weight:lighter;
  letter-spacing: 1px;
}



navbar{
  background-color:gray;
  background-color:#999;
    height:35px;
    width:798px;

}

footer{
background-color:#999999;
    height:35px

}

footer #copyright{

  padding-top:7px;
  margin-left:35px;
  color:#fff;
  font-family:sans-serif;
  letter-spacing:2px;
  font-weight:lighter;
}



..img {
  /* unused but necessary for inner images */
  max-width: 100%;
  max-height: 100vh;
}
